input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.container{
    padding-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
